body {
    margin:50px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #f0f8ff;
    font-size: 90%;
    line-height:120% ;

}



.row{
   font-style: italic;
    color: #222780;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
label
{
    margin-right: 1.1em;
}
#progress
{
    margin-top: 1.2em;
    color: #8b0000;
    font-weight: bold;
}